<div class="wrapper">
  <nav class="nav">
    <div class="container">
        <div class="logo">
            <a href="#">Santo</a>
        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks " style="font-size: small;">
                <li><a href="#about">ABOUT</a></li>
                <li><a href="#academics">ACADEMINS</a></li>
                <li><a href="#project">PROJECT</a></li>
                <li><a href="#skill">SKILL</a> </li>
            </ul>
        </div>
        <span class="navTrigger">
            <i></i>
            <i></i>
            <i></i>
        </span>
        
    </div>

</nav>
  
    <section id="home" class="sec-main">
      <h1 class="main-heading" style="height: 150px;">SANTO SAJI CHACKO</h1>
      
      <h3 class="main-heading" >Software Developer</h3>
    </section>
  
    <section id="about" class="sec-about">
      <div class="container" text-center>
        <h1 style="line-height: 4.5">About me</h1>
  
        
  
        <div class="row .col-5 .col-md-4  myp ">
          <div >
            <p>Hi, my name is Santo Saji Chacko and I am a Software Designer & Developer. I love crafting beautiful softwares and web applications in different programming languages. My other skills include Problem solving , Logical thinking and Implementing new ideas . Apart from that I am a Master of Computer Application student in
              <a href="https://macfast.org">MACFAST.</a> Past 7 years I have grasped knowledge about various fields in Computer Science. It's interesting to think about an idea and develop it .I am a fast learner and I can adapt to any programming language in a short period of time.If you want to hire me or just to talk, <a class="js-connect" href="#footer">connect</a> with me.</p>
          </div>
        </div>
      </div>
    </section>
    <section id="academics" class="sec-services">
      <div class="container">
        <h1 style="line-height: 4.5">Academics</h1>
  
  
        <div class="row">
          <div class="col-sm-4">
            
  
            <h2 class="h3">Master of Computer Application</h2>
  
            <p> At Mahatma Gandhi University in a period of <br>2021-2023(pursuing)</p>
          </div>
  
          <div class="col-sm-4">
            
  
            <h2 class="h3">Bachelor of Computer Application</h2>
  
            <p>At Mahatma Gandhi University in a period of <br>2016-2019</p>
          </div>
  
          <div class="col-sm-4">
            
  
            <h2 class="h3">CCNA Routing & Switching</h2>
  
            <p>At BSOFT Education Pvt Ltd in a period of <br>2019-2020</p>
          </div>
        </div>
      </div>
    </section>
  
    <section id="project" class="sec-services">
      <div class="container">
        <h1 style="line-height: 4.5">Projects</h1>
  
       
  
        <div class="row">
          <div class="col-md-4" >
            <h2 style="text-align: center;" >PingMe</h2>
            <p class="center-block">PingMe is a website that help users through a process of finding a crush , based on various criteria . This project was developed in Angular ,HTML,CSS,TypeScript and Firebase</p>
          </div>
  
          <div class="col-md-4" >
            <h2 style="text-align: center;" >Scraper</h2>
            <p class="center-block">Scraper is a scrap management system website used to sell scrap materials. This project was developed in PHP,HTML,CSS,JavaScript and SQL</p>
          </div>
  
          <div class="col-md-4" >
            <h2 style="text-align: center;" >OfferON</h2>
            <p class="center-block">OfferOn is a website that contain offers posted by shopkeepers and the users can view that offers . This project was developed in PHP ,HTML,CSS,JavaScript and SQL</p>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-4" >
            <h2 style="text-align: center;" >AlertMe</h2>
            <p class="center-block">AlertMe is a website that generates alert messages when the KSEB electric line shows any change in state .It is an embedded project where a device passes a flag value . This project was developed in ASP.Net,JavaScript and SQL.
            </p>
          </div>
  
          <div class="col-md-4" >
            <h2 style="text-align: center;" >SMS</h2>
            <p class="center-block">Student Management System  is a web application that helps to store and view the students academic and personal information. This project was developed in Microsoft VB 6.0 and Ms Access.
            </p>
          </div>
  
          <div class="col-md-4">
            
          </div>
        </div>
      </div>
    </section>
  
    <section id="skill" class="sec-services">
      <div class="container">
        <h1 style="line-height: 4.5">Professional Skills</h1>
  
       
  
        <div class="row">
          <div class="col-sm-4">
            <h2 style="text-align: center;" >Languages</h2>
            <p class="center-block"> C , C++ , Java , PHP , Python , Cobol , SQL , HTML  </p>
          </div>
  
          <div class="col-sm-4">
            <h2 style="text-align: center;" >Frameworks</h2>
            <p class="center-block"> Angular , Django , Jupyter , Laravel ,Eclipse , NetBeans </p>
          </div>
  
          <div class="col-sm-4">
            <h2 style="text-align: center;" >Area of Interests</h2>
            <p class="center-block"> Software Development , Web Development , Full Stack Development   </p>
          </div>
        </div>
      </div>
    </section>
    
    <section id="internship" class="sec-services">
      <div class="container">
        <h1 style="line-height: 4.5">Internships</h1>
  
       
  
        <div class="row">
          <div class="col-sm-6">
            <h2 style="text-align: center; text-decoration: none;color: black;" > <a href="https://www.nestdigital.com" style="text-align: center; text-decoration: none;color: black;">NeST Digital</a></h2>
            <p class="center-block"> Mini Project Based on Angular <br>06/02/2023 -11/03/2023 </p>
          </div>
          
          <div class="col-sm-6">
            <h2 style="text-align: center;" ><a href="hhttps://www.lcccochin.com" style="text-align: center; text-decoration: none;color: black;">LCC</a></h2>
            <p class="center-block"> Main Project based on .Net <br>01/02/2016 -28/02/2016</p>
          </div>

        </div>
      </div>
    </section>
  
    
  
    <footer id="footer">
      <div class="container">
        <ul class="soc-media-ul">
          <li>
            <a href="https://instagram.com/_chackochan__?igshid=MzNlNGNkZWQ4Mg=="><i class="bi bi-instagram"  target="_blank"></i></a>
          </li>
  
          <li>
            <a href="https://www.linkedin.com/in/santo-saji-chacko-778115271" class="bi bi-linkedin" target="_blank"></a>
          </li>
  
          <li>
            <a href="https://github.com/santo-3778" class="bi bi-github" target="_blank"></a>
          </li>
  
          <li>
            <a href="https://twitter.com/santo_chacko?t=vn8sa3sJ-LKE2xVVCchToA&s=08" class="bi bi-twitter" target="_blank"></a>
          </li>
  
         
        </ul>
      </div>
    </footer>
  </div>